@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* ===common styles start === */

/* ===common styles end === */


/* ===header section styles start===*/











header {
    background-image: url(/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 30px 80px;
    background-size: 100%;
    border-radius: 15px;
    position: relative;

}

.header-description {
    color: rgb(246, 246, 246);
    text-align: center;
    padding: 150px 250px 110px;
    background-color: rgba(0, 0, 0, 0.313);
    border-radius: 15px;

}

.header-description h1 {
    font-size: 72px;
}

.header-description h4 {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}

/*===header section styles end === */


.holidayDeal {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.discount-title {
    font-size: 88px;
    color: #F00;
}

.holidayDeal>p {
    font-size: 24px;
    color: #F00;
}

.holidayDeal>h3 {
    font-size: 48px;
}

.holidayDeal img {
    width: 802.9px;
    height: 500px;
    margin-top: 20px;
}


/* Midnight party section start */
.party-join {
    background-image: url(/resources/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 70px 80px 0;
    height: 600px;
    background-size: 100%;
    border-radius: 15px;
    color: #ffff;

}

.party-event {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 120px 18px;
    background-color: rgba(0, 0, 0, 0.512);
    border-radius: 16px;
}



.party-description>h1 {
    font-size: 59px;
    letter-spacing: 7.04px;
}

.party-description p {
    font-size: 18px;
}

.party-description>button {
    border: 0;
    font-size: 20px;
    margin: 25px 0 0 25px;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

/* Midnight party section end */

.party-place {
    text-align: center;
    font-size: 32px;
    line-height: 56px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 120px;
    margin: 0px 80px;
    border-radius: 15px;
}

.address {
    color: red;
}

.place-btn {
    color: white;
    border: 0;
    background-color: red;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 15px;
}


/* coming soon section */
.comingSoon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 80px;
    gap: 10vh;
}

.bestOffer {
    margin-bottom: 20px;
}

.bestOffer h4 {
    font-size: 24px;
    color: red;

}

.bestOffer>h2 {
    font-family: monospace;
    font-size: 48px;
}

.img-section {
    border: 15px solid red;
    border-radius: 50%;
    padding: 30px;
}

.yearSection>h2 {
    color: #F00;
    margin-bottom: 20px;
    font-size: 48px;
}

.best-gift {
    margin: 70px 80px;
}

.gift-description {
    line-height: 30px;
}

.gift-description h4 {
    color: #F00;
    font-size: 24px;
    margin-bottom: 20px;
}

.gift-description h1 {
    margin-bottom: 20px;
    font-size: 48px;
}

.gift-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 48px;
}

.gift-img img {
    width: 350px;
    height: 350px;
    border: 2px solid #ff3c003c;
    border-radius: 15px;
    box-shadow: 5px 8px 8px 0 rgb(255, 216, 179);
    cursor: pointer;
    transition: .5ms;
}

.gift-img img:hover {
    transform: scale(1.04);
}


/*  Newsletter section*/

.newsletter {
    margin: 70px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 210px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    line-height: 40px;
    text-align: center;
}

/* form {
    border-radius: ;
} */

.email-form {
    height: 62px;
    width: 430px;
    border-radius: 25px 0 0 30px;
    padding-left: 20px;
    border: 0;
    color: gray;
    font-size: 18px;
}

.email-btn {
    border-radius: 0px 25px 30px 0px;
    padding: 18px 45px;
    border: 0;
    background-color: #F00;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 8ms;
}

.email-btn:hover {
    background-color: rgba(255, 0, 0, 0);
    border: 2px solid red;
    color: black;
}